body {
    background-color: cornflowerblue;
}

button {
    background-color: pink;
    border: 1px solid pink;
    border-radius: 15px;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
    color: aqua;
    text-shadow: 2px 2px #ff0000;
}

.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    width: 500px;
    background-color: aquamarine;
}